@font-face { font-family: Roboto-Bold; src: url('../fonts/Roboto_Slab/RobotoSlab-Bold.ttf'); }
@font-face { font-family: Roboto-Regular; src: url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf'); }  
@font-face { font-family: Roboto-Light; src: url('../fonts/Roboto_Slab/RobotoSlab-Light.ttf'); }
@font-face { font-family: Roboto-Thin; src: url('../fonts/Roboto_Slab/RobotoSlab-Thin.ttf'); } 


html,body {
margin:0;
padding:0;
}

div.content{
    margin: auto;
    width: 60%;
}

div.topnav{
    z-index: -1;
}

@media screen and (min-width: 600px) {
    div.content {
        width:78%;
    }
    #about_me_pics{
        width: 95%;
    }
}

@media screen and (min-width: 1000px) {
    div.content {
        width:75%;
    }
    #about_me_pics{
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    div.content {
        width:50%;
    }
    #about_me_pics{
        width: 65%;
    }
}

@media screen and (min-width: 1500px) {
    div.content {
        width:42%;
    }
    #about_me_pics{
        width: 65%;
    }
}

div.banner_home{
    background-image: linear-gradient(
      rgba(255, 0, 0, 0.15), 
      rgba(255, 255, 255, 0.85)
    ), url("../images/tarantula_nebula.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 7.5em;
    text-align: center;
}

div.banner_blog{
    background-image: linear-gradient(
      rgba(255, 0, 0, 0.15), 
      rgba(255, 255, 255, 0.85)
    ), url("../images/cs3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 7.5em;
    text-align: center;
}

div.banner_projects{
    background-image: linear-gradient(
      rgba(60, 0, 250, 0.15), 
      rgba(255, 255, 255, 0.85)
    ), url("../images/arduino_bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 7.5em;
    text-align: center;
}

div.banner_cv{
    background-image: linear-gradient(
      rgba(60, 0, 250, 0.15), 
      rgba(255, 255, 255, 0.85)
    ), url("../images/cs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 7.5em;
    text-align: center;
}

div.banner_about{
    background-image: linear-gradient(
      rgba(255, 0, 0, 0.25), 
      rgba(255, 255, 255, 0.85)
    ), url("../images/guitar_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 7.5em;
    text-align: center;
}

div.project_div{
    padding: 0.5em;
    margin-bottom: 3em;
}

ul.msc_modules{
    font-family: Roboto-Light;
    color: #2f416a;
    font-size: 1em;
}

.caption_text{
    font-family: Roboto-Regular;
    color: #2f416a;
    padding: 0.1em;
    font-size: 0.8em;
    opacity: 0.5;
    font-style: italic;
}

::-webkit-scrollbar { 
    display: none; 
}

div.img_div{
    text-align: center;
    margin-bottom: 2em;
}

#about_me_pics{
    margin: auto;
    padding: 1em;
    border-radius: 1.5em;
}

p.intro_body{
    font-family: Roboto-Light;
    color: #2f416a;
    font-size: 1em;
    margin: 0.8em;
}

.btn_primary{
    background-color: #2f416a;
    color: #FFFFFF;
    font-family: Roboto-Regular;
    font-size: 1.2em;
    padding: 0.85em;
    border-radius: 8px;
}

.btn_primary:hover{
    opacity: 0.5;
}

div.cv_div{
    text-align: center;
}

div.profile_div{
    text-align: center;
    padding: 3%;
    padding-bottom: 10%;
}

span.profile_pic{
    background-image: url('../images/me_profile_pic_2.jpg');
    background-repeat: no-repeat;
    background-size: 9.5em;
    max-width:100%;
    height:auto;
    padding: 4.1em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5em white;
    background-position: center;
}

ul.qualification_list{
    font-family: Roboto-Regular;
    color: #2f416a;
    opacity: 0.7;
    font-size: 0.95em;
}

div.contact_field{
    text-align: center;
    padding: 0.5em;
}

h2.subtitle{
    font-family: Roboto-Light;
    font-size: 1.6em;
    margin: 0.5em;
    margin-bottom: 3em;
    color: #2f416a;
    font-style: italic;
}

h2.subtitle2{
    font-family: Roboto-Regular;
    font-size: 1.2em;
    margin-left: 0.65em;
    padding-top: 0.5em;
    color: #2f416a;
}

h2.subtitle3{
    font-family: Roboto-Regular;
    font-size: 1.05em;
    margin-left: 0.65em;
    padding-top: 0.5em;
    color: #2f416a;
}

h1.home_title{
    font-family: Roboto-Bold;
    font-size: 4.6em;
    color: #FFFFFF;
    padding-top: 0.5em;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
}

h1.title{
    font-family: Roboto-Bold;
    font-size: 4.6em;
    padding-top: 0.5em;
    color: #FFFFFF;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
}

span.typing_text{
    font-family: Roboto-Light;
    font-size: 2em;
    padding: 1.5em;
    color: #FFFFFF;
    font-style: italic;
}

a.text_links{
    text-decoration: none;
    color: #97a0b4;
}
a.text_links:hover{
    color: #2f416a;
}

div.project_images{
    text-align: center;
    padding: 1em;
}

div.project_images img{
    margin: 0.8em;
    width: 12em;
    border: 0.05em solid #2f416a;
    border-radius: 0.5em;
}