@font-face { font-family: Monoton; src: url('assets/fonts/Monoton/Monoton-Regular.ttf'); } 
@font-face { font-family: Glegoo; src: url('assets/fonts/Glegoo/Glegoo-Regular.ttf'); } 

div.nav_container{
  width: 100%;
  position: fixed;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(255, 255, 255, 0.1);
  top: 0;
  left:0;
}
ul.menunav{
  list-style-type: none;
}

.topnav{
  top: 0;
  z-index: -1;
}

.topnav .icon{
  display: none;
}

@media screen and (max-device-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: inline-block;
  }
}

@media screen and (max-device-width: 600px) {
  .topnav.responsive{
  }
  .topnav.responsive a.icon {
    position: absolute;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 1000px) {
      div.topnav a{
      font-size: 10px;
    } 
}

div.topnav a{
  font-family: Glegoo;
  font-size: 1.4em;
  color: #2f416a;
  text-decoration: none;
  margin-top: 0.4em;
  margin-left: 1.5em;
  float: left;
}

div.nav_bar a:active{
  color: #97a0b5;
}

/* Change colour on hover */
ul.menunav a:hover{
  color: #97a0b5;
}

div.social_bar{
  margin-right: 2em;
}

div.social_bar li a{
  float: right;
  margin-right: 0.5em;
  margin
}

div.social_bar li img{
  width: 3.5em;
  border-radius: 50%;
}

#social_icon:hover{
  opacity: 0.5;
}